body {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    line-height: 1.5em;
    font-family: sans-serif;
    color: darkslategray;
}

p {
    margin-bottom: 1em;
}

p.checkpoint {
    border-left-style: solid;
    border-left-width: thick;
    padding: 1em;
    background-color: coral;
    font-family: monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}

code {
    background-color: coral;
    border-style: dashed;
    border-width: thin;
    padding: .25em;
}

h1 {
    text-align: center;
    margin-top: 1em;
}